<!--The content below is only a placeholder and can be replaced.-->
  
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 align="center">Welcome to {{ title }}!</h2>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Department</th>
            <th>Gender</th>
            <th>Age</th>
          </tr>       
        </thead>
        <tbody>
          <tr *ngFor= "let each of employees">
            <td>{{ each.name}}</td>
            <td>{{ each.email }}</td>
            <td>{{ each.DOB }}</td>
            <td>{{ each.department}}</td>
            <td>{{ each.gender }}</td>
            <td>{{ each.age}}</td>            
          </tr>        
        </tbody>
      </table>
    </div>
  </div>
 


